@charset "UTF-8";
.html{
height: 100%;
}
.body{
background-color: white;
height: 100%;
margin: 0 auto;
}.title {
color: black;
display: flex;
margin: 10px;
justify-content: space-around;
}.message {
display: flex;
margin: 10px;
justify-content: space-around;
}.form {
display: flex;
flex-direction: column;
width: 300px;
margin-inline: auto;
}.form_item{
margin: 2px;
}.form_item_submit{
margin: 2px;
width:140px;
}.form_div {
display: flex;
justify-content: flex-end;
}.button {
display: flex;
margin: auto;
}.div{
display: flex;
justify-content: space-around;
align-content: center;
flex-wrap: nowrap;
flex-direction: row;
}.div_submit{
display: flex;
justify-content: space-between;
align-content: center;
flex-wrap: nowrap;
flex-direction: row;
}

