@charset "UTF-8";

.header {
	width : 1200px;
	height : 150px;
	margin: auto;
	
}

.info_profil {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin : auto;
}
.container2{
	display: flex;
}