@charset "UTF-8";

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.info_profil {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin : auto;
}
.container2{
	display: flex;
}